<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=%(SITE_FONT)">

    <title>%(SITE_NAME)</title>
</head>
<body>
    %(MAIN)
</body>
<script type="module" src="%(APP_JS_ROOT)"></script>
</html>